/*----------BASE DE PAGINA----------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }
  
  body {
    font-family: "Nanum Gothic", sans-serif;
    color: #646262;
    background-color: #EFF1ED; }
  
  


/*---------- HEADER ----------*/
.header {
    width: 100%;
    height: 150px;
    align-items: center;
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: #c7e2c3;
    font-size: 14px;
    z-index: 4; }

/* titulo Lizon March Deco */
.headerTitulo {
    width: 100%;
    height: 60%;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    color: #646262; }
    .headerTitulo a:link {
      font-size: 50px;
      text-decoration: none; }
    .headerTitulo a:hover {
      font-size: 60px;
      transition: 0.2s 0.2s;
      text-decoration: none; }
    .headerTitulo a:visited {
      font-size: 50px;
      text-decoration: none;
      color: #646262; }
  

   .headerMenu {
        width: 40%;
        height: 10%;
        margin-right: 20px;
        margin-bottom: 20px; }
    .headerMenu ul{
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: space-between;
        text-transform: uppercase;
        list-style: none; }
    .headerMenu a:link {
        color: rgba(83, 81, 81, 0.712);
        text-decoration: none;
        cursor: pointer; }

    .headerMenu a:visited {
        color: rgba(83, 81, 81, 0.712);
        text-decoration: none;
        cursor: pointer; }
    .headerMenu a:hover{
        color: white; }
      
/*Main*/
.main {
    display: flex;
    width: 100%;
    padding-top: 169px;
    padding-bottom: 30px;
    font-size: 16px; }
  
  .mainSection {
    width: 100%;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-style: oblique; }

.contenedor{
    width: auto;
    height: 300px;
    padding: 45px;
    text-align: start;
}
  