/*----------BASE DE PAGINAS----------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: $font_principal;
    color: $font_principal_color;
    background-color: #EFF1ED;

}

/*-------------------------------------------------------------*/